/*Settings for Laptop Screen Size*/
/*Importing custom fonts*/
@font-face {
  font-family: "Freight Display Pro Black";
  src: url("fonts/Freight-Display-Pro-Black.otf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("fonts/Poppins-SemiBold.otf");
}

@font-face {
  font-family: "Din Pro Regular";
  src: url("fonts/DINPro-Regular.otf");
}

/*This is a row that often contains a flex-container*/
.row {
  /*Setting a 1rem margin between each container*/
  margin-top: 1rem;
  padding: 4rem 4rem 3rem 4rem;
  border-radius: 1rem;
}

.row-empty {
  margin-top: 5rem;
}

/*Each Block is an a flex-item*/
.block1 {
  width: 100%;
}

.block2 {
  width: 100%;
}

.block3 {
  width: 100%;
}

.block4 {
  width: 100%;
}

.block5 {
  width: 100%;
}

/*Container that holds flex-items*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

/*Column flex-container*/
.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*Row flex-container*/
.horizontal {
  display: flex;
  width: 100%;
  flex-direction: row;
}

/*Set a margin/spacing for lines*/
#line-margin-top {
  margin-top: 1rem;
}

/*phone menu bar that is not displayed on laptop size screens */
#laptop {
  border-radius: 0 0 1rem 1rem;
}

#phone {
  display: none;
}

/*Styleguide Page Laptop Screen Size  ----------------------------------------------------------*/
/*Color Section*/
#colorSection .block1 {
  flex: 4;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

#colorSection .block2 {
  flex: 7;
}

/*Typography Section*/
#typographySection .block1 {
  flex: 1;
}

/*Potential Images Section*/
.imageSection .block1 {
  flex: 5;
}

.imageSection .block2 {
  margin-left: 2rem;
  flex: 5;
}

/*Image as a Link Section*/
#imageLink .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.img-link {
  overflow: hidden;
}

#imageLink .block2 {
  flex: 6;
  margin-left: 2rem;
}

/*Heading Section*/
#heading .block1 {
  flex: 4;
}

#heading .block2 {
  flex: 5;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

/*Paragraph Section*/
#para .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

#para .block2 {
  margin-left: 2rem;
  flex: 6;
}

/*Numbered List Section*/
#numberedList .block1 {
  flex: 6;
}

#numberedList .block2 {
  flex: 5;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
}

/*Menu bar section*/
#navBar .block1 {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 2rem;
}

#navBar .block2 {
  flex: 4;
  margin-right: 5rem;
}

/*End of Styleguide Page*/
/*Start of Project Template -------------------------------------------------------------------*/
#briefSection {
  flex-direction: row;
}

#briefSection .block1 {
  flex: 1;
}

#briefSection .block2 {
  flex: 1;
}

#descriptionSection .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#descriptionSection .block2 {
  margin-left: 2rem;
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
}

#processSection .block1 {
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

#processSection .block2 {
  flex: 5;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: center;
}

#roleSection .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roleSection .block2 {
  margin-left: 2rem;
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 2rem;
}

#reflection {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*End of Project Template --------------------------------------------------------------------------*/
/*Start of Work Template*/
.project .block1 {
  flex: 1;
  /* background-color: black; */
  border-radius: 1rem;
  /* min-height: 20rem; */
  margin-right: 2rem;
}

.project .block2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project .block2 p {
  clear: both;
  margin-bottom: 1rem;
  color: #1E1E1E;
  font-family: 'Din Pro Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.project .block2 h3 {
  clear: both;
  color: #1E1E1E;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem
}

/*End of Work Template*/
/*Start of About Template -------------------------------------------------------------------------*/
#aboutMe {
  flex-direction: row;
  margin-top: 5rem;
}

#aboutMe .block1 {
  position: relative;
  flex: 2;
  height: 100%;
  min-height: 25rem;
  border-radius: 1rem;
}

#aboutMe .block2 {
  flex: 2;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*End of About Template*/
/*Start of Project1 Page*/
#descriptionSection1 .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#descriptionSection1 .block2 {
  margin-left: 2rem;
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
}

#descriptionSection1 .block2 figcaption {
  margin: 0 2rem 2rem 2rem;
}

#processSection1 .block1 {
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 3rem 1rem 2rem 2rem;
}

#processSection1 .block1 figcaption {
  margin-top: 1rem;
  margin-right: 1rem;
}

#processSection1 .block2 {
  flex: 5;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: center;
}

#roleSection1 .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roleSection1 .block2 {
  margin-left: 2rem;
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 2rem;
}

#roleSection1 .block2 figcaption {
  margin-top: 1.5rem;
}

/*End of Project1 Page*/
/*Start of Project2 Page*/
#descriptionSection2 .block1 {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#descriptionSection2 .block2 {
  margin-left: 2rem;
  flex: 4;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 2rem;
}

#processSection2 .block1 {
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 2rem;
}

#processSection2 .block2 {
  flex: 5;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: center;
}

#roleSection2 .block1 {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roleSection2 .block2 {
  margin-left: 2rem;
  flex: 6;
  /* background-color: black; */
  min-height: 25rem;
  border-radius: 1rem;
  padding: 2rem;
}

#roleSection2 .block2 figcaption {
  margin-top: 1rem;
}

@media only screen and (max-width:65rem) {
  .dots {
    display: inline-block;
  }

  .more {
    display: none;
  }

  .showButton {
    display: block;
    width: 3rem;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s ease;
  }
}

/*End of Project2 Page*/
/*for tablet*/
@media only screen and (max-width:55rem) {
  .text-box[type=text] {
    width: 100%;
    clear: both;
  }

  .text-box[type=text]:focus {
    width: 100%;
    clear: both;
  }

  .text-area {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
  }

  /*Contact Page Header*/
  #contactHeader {
    padding: 0 4rem;
  }

  /*Work Page Header*/
  #workHeader {
    padding: 0 3rem;
  }

  #styleguide {
    margin: 4rem 6rem 0 6rem;
  }

  #template-project {
    margin: 6rem 6rem 0 6rem;
  }

  #template-about {
    margin: 6rem 6rem 0 6rem;
  }

  #template-work {
    margin: 6rem 6rem 0 6rem;
  }

  #projects {
    margin: 3rem 6rem 0 6rem;
  }

  .intro {
    padding: 6rem 3rem 4rem 3rem;
  }

  #template-contact {
    margin: 4rem 6rem 0 6rem;
  }

  .heading {
    margin: 3rem 0 2rem 0;
  }

  .row {
    padding: 2rem;
  }

  .row-empty {
    margin-top: 3rem;
  }

  /*general styling for basic elements*/
  a {
    color: #ffffff;
    text-decoration: none;
  }

  html {
    font-size: 87.5%;
  }

  /* body {
    font-size: 14px;
  } */
  .hello {
    font-size: 4rem;
    letter-spacing: 0.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  /*Styleguide page Tablet Size*/
  /*Color Section*/
  #colorSection .block1 {
    flex: 1;
    padding: 2rem 2rem 2rem 0;
  }

  #colorSection .block2 {
    flex: 2;
    margin-right: 2rem;
  }

  #color-palette {
    padding: 0;
  }

  /*Typography Section*/
  #typographySection .block1 {
    flex: 1;
  }

  #typographySection .block2 {
    margin-right: 2rem;
    padding: 0;
    flex: 1;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    flex: 1;
  }

  .imageSection .block2 {
    flex: 1;
    margin: 0;
  }

  #numberedList .block2 {
    margin: 0;
  }

  #para .block2 {
    margin: 0;
  }

  #heading .block2 {
    margin: 0;
  }

  #imageLink .block2 {
    margin: 0;
  }

  /*End of Styleguide Page*/
  .project .block1 {
    margin-bottom: 2rem;
  }

  #roleSection .block2 {
    margin-left: 0;
  }

  #processSection .block1 {
    order: 1;
  }

  #processSection .block2 {
    margin-left: 0;
    margin-bottom: 2rem;
    order: 0;
  }

  #descriptionSection .block2 {
    margin-left: 0;
  }

  #roleSection1 .block2 {
    margin-left: 0;
  }

  #processSection1 .block1 {
    order: 1;
  }

  #processSection1 .block2 {
    margin-left: 0;
    margin-bottom: 2rem;
    order: 0;
  }

  #descriptionSection1 .block2 {
    margin-left: 0;
  }

  #roleSection2 .block2 {
    margin-left: 0;
  }

  #processSection2 .block1 {
    order: 1;
  }

  #processSection2 .block2 {
    margin-left: 0;
    margin-bottom: 2rem;
    order: 0;
  }

  #descriptionSection2 .block2 {
    margin-left: 0;
  }

  #aboutMe {
    flex-direction: column;
  }

  #aboutMe .block1 {
    flex: 2;
    margin-bottom: 2rem;
  }

  #aboutMe .block2 {
    flex: 3;
    margin-left: 0;
  }

  #aboutMe .block1 img {
    position: relative;
  }

  #descriptionSection .block1 {
    margin-bottom: 2rem;
  }

  #roleSection .block1 {
    margin-bottom: 2rem;
  }

  #descriptionSection1 .block1 {
    margin-bottom: 2rem;
  }

  #roleSection1 .block1 {
    margin-bottom: 2rem;
  }

  #descriptionSection2 .block1 {
    margin-bottom: 2rem;
  }

  #roleSection2 .block1 {
    margin-bottom: 2rem;
  }

  footer {
    padding: 2rem 2rem 1rem 2rem;
  }

  .flex-container#footerContent {
    flex-direction: column;
  }
}

/*for phone*/
@media only screen and (max-width:33rem) {

  /*I referenced the hamburger menu from the internet it is in my citation (NOT MY CODE)*/
  /*Laptop Menu display none*/
  .flex-container {
    flex-direction: column;
  }

  #laptop {
    display: none;
  }

  /*Hamburger Menu*/
  #menuToggle {
    display: block;
    position: relative;
    top: 0.25rem;
    left: 1rem;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 2rem;
    height: 1.6rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 1002;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 1.65rem;
    height: 0.2rem;
    margin-bottom: 0.25rem;
    position: relative;
    background: #1E1E1E;
    border-radius: 5rem;
    z-index: 1001;
    transform-origin: 0.2rem 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    margin: -3em 0 0 -1em;
    padding: 3em 0 2em 0;
    background: #1E1E1E;
    border-radius: 0 0 1rem 1rem;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 0;
  }

  #menu li a {
    display: block;
    padding: 1rem 0;
    font-size: 1rem;
    border: 0.1rem solid rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Poppins Semibold', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    width: 100%;
  }

  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }

  /*Display set on for phone menu */
  #phone {
    width: 100%;
    position: fixed;
    display: block;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.8rem 0;
    z-index: 100000;
  }

  #menu li a:hover {
    padding: 1rem 0;
    border: 0.1rem solid #F4976C;
    text-decoration: none;
    color: #F4976C;
  }

  #styleguide {
    margin: 4rem 2rem 0 2rem;
  }

  #template-project {
    margin: 6rem 2rem 0 2rem;
  }

  #template-about {
    margin: 4rem 2rem 0 2rem;
  }

  #template-work {
    margin: 4rem 2rem 0 2rem;
  }

  #projects {
    margin: 2rem 2rem 0 2rem;
  }

  .intro {
    padding: 5rem 2rem 2rem 2rem;
  }

  #template-contact {
    margin: 4rem 2rem 0 2rem;
  }

  .map {
    margin: 2rem 2rem 0 2rem;
  }

  .heading {
    margin: 3rem 0 2rem 0;
  }

  .row {
    padding: 2rem;
  }

  .row-empty {
    margin-top: 2rem;
  }

  /*general styling*/
  a {
    color: #ffffff;
    text-decoration: none;
  }

  html {
    font-size: 75%;
  }

  /* body {
    font-size: 12px;
  } */
  label {
    padding: 0;
  }

  /* h1 {
    font-size: 4rem;
  } */
  .hello {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  #contactHeader {
    padding: 0;
  }

  /*Work Page Header*/
  #workHeader {
    padding: 0;
  }

  /*Styleguide page phone size*/
  /*Color Section*/
  #colorSection .block1 {
    margin: 0;
    order: 1;
  }

  #colorSection .block2 {
    order: 0;
    margin: 0;
  }

  #color-palette {
    padding: 0;
  }

  /*Typography Section*/
  #typographySection .block1 {
    order: 0;
    margin: 0;
  }

  #typographySection .block2 {
    order: 1;
    margin: 0;
  }

  #typographySection .block2 p {
    order: 1;
    padding: 0;
    margin: 0;
  }

  /*Potential Images Section*/
  .imageSection .block1 {
    order: 1;
    margin: 0;
  }

  .imageSection .block2 {
    order: 0;
    margin: 0;
  }

  #numberedList .block2 {
    margin: 0;
  }

  #para .block2 {
    margin: 0;
  }

  #heading .block2 {
    margin: 0;
  }

  #imageLink .block2 {
    margin: 0;
  }

  .backButton {
    position: absolute;
    width: 2.5rem;
    top: 4rem;
    left: 1rem;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  /*End of Styleguide page*/
  /*Start of Project Page*/
  /*End of Project Page*/
  /*Citations Page*/
  #citations {
    margin: 2rem;
  }
}