/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

/*Importing custom fonts*/
@font-face {
  font-family: "Freight Display Pro Black";
  src: url("fonts/Freight-Display-Pro-Black.otf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("fonts/Poppins-SemiBold.otf");
}

@font-face {
  font-family: "Din Pro Regular";
  src: url("fonts/DINPro-Regular.otf");
}

/* sets body text to font and gives it font size of 16 */
html {
  font-size: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  height: 100%;
  flex-direction: column;
}

form {
  clear: both;
  width: 100%;
}

li {
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  color: #1E1E1E;
}

/* set default labes to this size,font and color  */
label {
  font-family: 'Din Pro Regular', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #1E1E1E;
}

ul {
  margin-top: 2rem;
}

ul li {
  height: 100%;
}

iframe {
  width: 100%;
  height: 20rem;
  border: none;
}

/* letter spacing also creates space between each letter */
.hello {
  color: #1E1E1E;
  font-family: 'Freight Display Pro Black', serif;
  font-size: 6rem;
  letter-spacing: 0.35rem;
  margin-bottom: 0;
}

.helloWorld {
  margin-bottom: -1rem;
  clear: both;
  color: #1E1E1E;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.35rem
}

h1 {
  color: #1E1E1E;
  font-family: 'Freight Display Pro Black', serif;
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
}

/* h3 header, create margin at the bottom, and set font */
h2 {
  clear: both;
  color: #1E1E1E;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.35rem
}

/* clear:both resets the float (left/right) */
h3 {
  clear: both;
  color: #5B5B5B;
  margin-bottom: 1rem;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.25rem
}

/* this is the general paragraph style */
p {
  clear: both;
  margin-bottom: 1rem;
  color: #1E1E1E;
  font-family: 'Din Pro Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0;
}

a {
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
}

.figcaption {
  clear: both;
  color: #1E1E1E;
  font-family: 'Din Pro Regular', sans-serif;
  font-size: 0.75rem;
  line-height: 1.4rem;
  letter-spacing: 0;
  /* padding: 2rem; */
}

#styleguide {
  margin: 6rem 10rem 0 10rem;
}

#template-about {
  margin: 6rem 10rem 0 10rem;
}

#template-project {
  margin: 8rem 10rem 0 10rem;
}

#template-work {
  margin: 6rem 10rem 0 10rem;
}

#projects {
  margin: 3rem 10rem 0 10rem;
}

#template-contact {
  margin: 6rem 10rem 0 10rem;
}

#citations {
  margin: 6rem 10rem 0 10rem;
}

/*Work Page Header*/
#workHeader {
  padding: 0 6rem;
}

/*Contact Page Header Image*/
#contactHeader {
  padding: 0 8rem;
}

.contactImage {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 8px 5px -5px rgba(51, 51, 51, 0.6);
}

.citationList {
  margin: -1rem 0 3rem 0;
}

/*navigation menu*/
.menuBar {
  padding: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.866666);
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-items: center;
  /* height: 4.3rem; */
}

/*navigation menu*/
.menuBar a {
  overflow: hidden;
}

/*navigation menu*/
.menuBar a:hover, .menuBar a:focus {
  text-decoration: none;
}

.form-label {
  width: 100%;
}

/* laptop menu is the bar at the top that shows the list of topics of our webpage */
.laptopMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  list-style-type: none;
  width: 100%;
  height: 4.3rem;
}

/* inline block shows the menu in a horizontal line */
.laptopMenu li {
  display: inline-block;
  border-bottom: 0.25rem solid transparent;
  transition: border-bottom 0.5s ease;
}

.laptopMenu #visit {
  border-bottom: 0.25rem solid #B4DFE5;
}

.laptopMenu #visit a {
  color: #B4DFE5;
}

/* hover and focus for laptop menu to make it more interactive and appealing */
.laptopMenu li:hover, .laptopMenu li:focus {
  border-bottom: 0.25rem solid #F4976C;
}

.laptopMenu a {
  display: block;
}

/*code portion*/
code {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 0.5rem;
  display: block;
}

/*all images*/
img {
  width: 100%;
  display: block;
}

/* up right down left for padding */
footer {
  background-color: #ECF1F2;
  margin: 5rem 0 0 0;
  padding: 3rem 5rem 2rem 5rem;
  border-radius: 1rem 1rem 0 0;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button that is active*/
.active {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 2px 2px 8px rgba(51, 51, 51, 0.6);
  text-decoration: none;
  transition: top 0.3s;
}

/*input text-box styling*/
.text-box[type=text] {
  font-family: 'Din Pro Regular', sans-serif;
  border: 0.08rem solid #5B5B5B;
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  /* outline-width: 0; */
  display: block;
  width: 70%;
  clear: both;
  font-size: 0.8rem;
}

/*input text-box styling*/
.text-box[type=text]:focus {
  width: 70%;
  border: 0.08rem solid #F4976C;
  border-radius: 0.75rem;
  padding: 0.5rem;
  /* outline-width: 0; */
}

.text-area {
  font-family: 'Din Pro Regular', sans-serif;
  display: block;
  font-size: 0.8rem;
  border: 0.08rem solid #5B5B5B;
  border-radius: 1rem;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  outline-width: 0;
  width: 70%;
  min-height: 5rem;
  resize: vertical;
  clear: both;
}

/* text area when it is focused, set border to 0.08 rem and change color */
.text-area:focus {
  border: 0.08rem solid #F4976C;
}

/*This is the styling for the navigation buttons*/
.button-nav {
  padding: 1.75rem 2rem 1rem 2rem;
  color: #1E1E1E;
  text-decoration: none;
  transition: color 0.5s ease;
}

/*This is the styling for the navigation buttons*/
.button-nav:hover, .button-nav:focus {
  color: #F4976C;
}

/*This is the styling for buttons*/
.button {
  margin-bottom: 1rem;
  font-weight: 300;
  background-color: #F4976C;
  border: 0.05rem solid rgba(255, 255, 255, 0);
  border-radius: 5rem;
  color: #ECF1F2;
  padding: 0.75rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

/* used in contact page for submission button, standard submission class button */
.button:hover, .button:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.75rem 2.5rem;
  border: 0.05rem solid #F4976C;
  border-radius: 5rem;
  color: #F4976C;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* this is the styling for the remove buttons in cart */
.remove_button {
  background-color: #B4DFE5;
  border: 0.05rem solid rgba(255, 255, 255, 0);
  border-radius: 5rem;
  color: #ECF1F2;
  padding: 0.75rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

/* hovering and clicking remove button on cart page */
.remove_button:hover, .remove_button:focus {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.75rem 2.5rem;
  border: 0.05rem solid #B4DFE5;
  border-radius: 5rem;
  color: #B4DFE5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*This is part of the styling for the radio button*/
.radio-label {
  display: block;
  position: relative;
  padding-top: 0.145rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*This is part of the styling for the radio button*/
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
}

/*This is part of the styling for the radio button*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

/*This is part of the styling for the radio button*/
.radio-label:hover input~.checkmark {
  background-color: #cccccc;
}

/*This is part of the styling for the radio button*/
.radio-label input:checked~.checkmark {
  background-color: #FBE8A6;
}

/*This is part of the styling for the radio button*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/*This is part of the styling for the radio button*/
.radio-label input:checked~.checkmark:after {
  display: block;
}

/*This is part of the styling for the radio button*/
.radio-label .checkmark:after {
  top: 0.45rem;
  left: 0.45rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: white;
}

/*I referenced from w3school to style the radio button https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/
.img {
  max-width: 100%;
  transition: 0.5s;
  overflow: hidden;
  transition: transform 0.5s;
}

/* create effect when the mouse is hover, change photo size  */
.img:hover {
  transform: scale(1.1)
}

/*placing the title at the center of the container*/
.title {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*floats images and text to left or right*/
.left-side {
  float: left;
}

/*floats images and text to left or right*/
.right-side {
  float: right;
  text-align: right;
}

/*Set text to white or black*/
.white-text {
  color: #ECF1F2;
}

.black-text {
  color: #1E1E1E;
}

.center {
  text-align: center;
}

.right-spacing {
  margin: 1rem 1rem 0 1rem;
}

.left-spacing {
  margin: 1rem 0 1rem 1rem;
}

/*testing to make the paragraphs at the center*/
.vertical-center {
  display: flex;
  align-items: center;
}

/* LINE STYLING*/
.black-line {
  /*Set color of line to be black*/
  clear: both;
  width: 15%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-top: 0.2rem solid #1E1E1E;
}

.white-line {
  /*Set color of line to be white*/
  clear: both;
  width: 15%;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  border-top: 0.2rem solid #ECF1F2;
}

.left-line {
  float: left;
  margin-left: 0.7rem;
}

.right-line {
  float: right;
  margin-right: 0.7rem;
}

.dots {
  display: none;
}

.more {
  display: inline;
}

.showButton {
  display: none;
  border-radius: 50%;
  animation: shadow-pulse 1.5s infinite;
}

.showButton:hover, .showButton:active, .showButton:focus {
  animation: none;
}

/*
  TEXT ELEMENTS -------------------
  most of these classes are made to set a paritcular font at a desired style and look
*/
.freight {
  font-family: 'Freight Display Pro Black', serif;
  font-size: 1rem;
  line-height: 3rem;
}

.poppins {
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 1rem;
  line-height: 3rem;
}

.din {
  font-family: 'Din Pro Regular', sans-serif;
  font-size: 1rem;
  line-height: 3rem;
}

.middle-text {
  clear: both;
  text-align: center;
}

/*padding for each section*/
#color-palette {
  padding: 2rem 0 2rem 2rem;
}

/*padding for each section*/
#in-text-link {
  padding: 2rem 2rem 2rem 5rem;
}

/*padding for each section*/
#navigation-link {
  padding: 2rem 5rem 2rem 2rem;
}

/* up right down left */
#image-link {
  padding: 2rem 5rem 2rem 2rem;
}

/*padding for each section*/
.text-input {
  padding: 2rem 5rem 2rem 2rem;
}

.white {
  /*Set color of container to white*/
  background-color: #ECF1F2;
}

.blue {
  background-color: #d9f8f9;
  transition: background-color 1s ease;
}

.aqua {
  background-color: #d9f8f9;
  transition: background-color 1s ease;
}

.yellow {
  background-color: #FBE8A6;
  transition: background-color 1s ease;
}

.orange {
  background-color: #F4976C;
  transition: background-color 1s ease;
}

.inverse-orange {
  border: solid 0.2rem #F4976C;
}

.inverse-blue {
  border: solid 0.2rem #d9f8f9;
}

.inverse-yellow {
  border: solid 0.2rem #FBE8A6;
}

.inverse-white {
  border: solid 0.2rem #ECF1F2;
}

.backButton {
  position: absolute;
  width: 3rem;
  top: 6rem;
  left: 1rem;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.backButton:hover, .backButton:focus, .backButton:active {
  transform: scale(1.2);
}

#compassProject .orange:hover, #compassProject .orange:focus {
  background-color: #F58757;
}

#numeroUnoProject .yellow:hover, #numeroUnoProject .yellow:focus {
  background-color: #FDFB9A;
}

#kinderMorganProject .aqua:hover, #kinderMorganProject .aqua:focus {
  background-color: #B4DFE5;
}

/* justify content makes sure that the content takes up the same amount of space within the footer */
.flex-container#footerContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.footerContent {
  text-decoration: underline;
  color: #1E1E1E;
  transition: 0.3s;
  margin-bottom: 0.5rem;
}

.footerContent:hover, .footerContent:active, .footerContent:focus {
  color: #F4976C;
}

#copyright {
  color: #1E1E1E;
  font-family: 'Poppins Semibold', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
  transition: 0.3s;
}

.intro {
  background-color: #ECF1F2;
  border-radius: 0 0 1rem 1rem;
  padding: 9rem 4rem 6rem 4rem;
}

.intro-blurb {
  margin: auto;
}

.map {
  margin: 3rem 5rem 0 5rem;
}

#goUpButton {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#goUpButton:hover, #goUpButton:focus, #goUpButton:active {
  transform: scale(1.2);
}

/*Animation for show more buttons to pulse*/
@keyframes shadow-pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
